<div class="grid grid-col space-y-2">
  <label for="month" class="text-sm font-semibold text-gray-700"
    >Selecciona mes y año</label
  >

  <div class="flex flex-col md:flex-row items-center gap-4 mb-4">
    <!-- Fecha inicio -->
    <div>
      <label for="startDate" class="block text-sm font-medium text-gray-700"
        >Desde</label
      >
      <input
        id="startDate"
        type="date"
        class="p-2 rounded-md border border-gray-300 shadow-sm focus:ring focus:ring-blue-300 focus:outline-none"
        [(ngModel)]="fechaInicio"
      />
    </div>

    <!-- Fecha fin -->
    <div>
      <label for="endDate" class="block text-sm font-medium text-gray-700"
        >Hasta</label
      >
      <input
        id="endDate"
        type="date"
        class="p-2 rounded-md border border-gray-300 shadow-sm focus:ring focus:ring-blue-300 focus:outline-none"
        [(ngModel)]="fechaFin"
      />
    </div>

    <!-- Botón buscar -->
    <button
      class="px-4 py-2 mt-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
      (click)="filtrarFecha()"
    >
      Buscar
    </button>

    <!-- Botón limpiar -->
    <button
      class="px-4 py-2 mt-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
      (click)="limpiarFiltro()"
    >
      Limpiar
    </button>

    <!-- TODO: add the export button -->
  </div>
</div>
